/******************************************************************
Site Name: Rockaway Business Map
Author: 13Milliseconds

Stylesheet: Main Stylesheet

******************************************************************/

/*********************
IMPORTING PARTIALS
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "bourbon/bourbon";

// the grid
@import "grid-settings";
@import "neat/neat";

$apparelaccessories: #F2A1B3;
$househome: #F0BF9F;
$healthwellnessfitness: #F4E7A0;
$businessfinancialservices: #98D2C4;
$groceryspecialtyfoods: #96C5EA;
$restaurantsbars: #B7B3D7;
$beautypersonalcarepets: #BE8EBE;
$artsentertainment: #AFA39D;
$mediamarketing: #F9DCDC;
$realestate: #EBEAE5;
$beautypersonalcare: #6FB083;
$familychildservices: #1E98C0;
$petservices: #E2DFFB;
$technologyservices: #BE8EBE;

$linkcolor: #3272a3;



/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query


