/******************************************************************
Site Name: Rockaway Business Map
Author: 13Milliseconds

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 12, ../scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../scss/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../scss/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 77, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../scss/partials/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 97, ../scss/partials/_normalize.scss */
a:focus {
  outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../scss/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 119, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 128, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../scss/partials/_normalize.scss */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 146, ../scss/partials/_normalize.scss */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 156, ../scss/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
/* line 166, ../scss/partials/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 177, ../scss/partials/_normalize.scss */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 185, ../scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 197, ../scss/partials/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 205, ../scss/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 212, ../scss/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 218, ../scss/partials/_normalize.scss */
small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 226, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 234, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 238, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 250, ../scss/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../scss/partials/_normalize.scss */
dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 265, ../scss/partials/_normalize.scss */
menu {
  padding: 0 0 0 40px;
}

/* line 269, ../scss/partials/_normalize.scss */
ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 279, ../scss/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 293, ../scss/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 301, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 313, ../scss/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 325, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 336, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 347, ../scss/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 361, ../scss/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 373, ../scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 386, ../scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 398, ../scss/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 408, ../scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 420, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 432, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 441, ../scss/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 452, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 465, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 472, ../scss/partials/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 479, ../scss/partials/_normalize.scss */
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 487, ../scss/partials/_normalize.scss */
.clearfix, .cf {
  zoom: 1;
}
/* line 489, ../scss/partials/_normalize.scss */
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 490, ../scss/partials/_normalize.scss */
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 497, ../scss/partials/_normalize.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 60, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/* line 4, ../scss/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../scss/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
Site Name: Rockaway Businesses
Author: 13Milliseconds

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 16, ../scss/breakpoints/_base.scss */
body, html {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

/* line 21, ../scss/breakpoints/_base.scss */
h2 {
  margin-top: 0;
  line-height: 1em;
  font-weight: 700;
  font-size: 1.2em;
  height: 2em;
  display: table-cell;
  vertical-align: middle;
}

/* line 30, ../scss/breakpoints/_base.scss */
h3 {
  margin-bottom: 0;
  font-size: 1em;
}

/* line 34, ../scss/breakpoints/_base.scss */
p {
  margin-top: 10px;
}

/* line 37, ../scss/breakpoints/_base.scss */
a {
  text-decoration: none;
  color: #3272a3;
}

/* line 42, ../scss/breakpoints/_base.scss */
.col-3of4 {
  width: 75%;
  float: left;
  min-height: 1px;
}

/* line 47, ../scss/breakpoints/_base.scss */
.col-1of4 {
  width: 25%;
  float: left;
  padding: 20px;
  min-height: 1px;
}

/* line 53, ../scss/breakpoints/_base.scss */
.col-2of3 {
  width: 66.66%;
  float: left;
  min-height: 1px;
}

/* line 58, ../scss/breakpoints/_base.scss */
.col-1of3 {
  width: 33.33%;
  float: left;
  padding: 20px;
  min-height: 1px;
}

/* line 64, ../scss/breakpoints/_base.scss */
#social {
  text-align: center;
  margin: 1em 0;
}
/* line 67, ../scss/breakpoints/_base.scss */
#social .social {
  display: inline-block;
  margin: 0 .25em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  border-radius: 50%;
  padding: .25em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 79, ../scss/breakpoints/_base.scss */
#social .social:hover {
  opacity: .8;
}
/* line 82, ../scss/breakpoints/_base.scss */
#social .social.website {
  background-color: midnightblue;
}
/* line 85, ../scss/breakpoints/_base.scss */
#social .social.facebook {
  background-color: #3B5998;
}
/* line 88, ../scss/breakpoints/_base.scss */
#social .social.twitter {
  background-color: #4099FF;
}

/* line 93, ../scss/breakpoints/_base.scss */
#main {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 50px;
}

/* line 99, ../scss/breakpoints/_base.scss */
#map {
  width: 100%;
  height: 500px;
  max-height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
/* line 107, ../scss/breakpoints/_base.scss */
#map .circle {
  display: none;
}

/* line 111, ../scss/breakpoints/_base.scss */
.info {
  position: absolute;
  margin-bottom: 15px;
  display: none;
  z-index: 3;
  border-top: solid 5px;
}
/* line 117, ../scss/breakpoints/_base.scss */
.info.apparelaccessories {
  border-color: #F2A1B3;
}
/* line 120, ../scss/breakpoints/_base.scss */
.info.househome {
  border-color: #F0BF9F;
}
/* line 123, ../scss/breakpoints/_base.scss */
.info.healthwellnessfitness {
  border-color: #F4E7A0;
}
/* line 126, ../scss/breakpoints/_base.scss */
.info.businessfinancialservices {
  border-color: #98D2C4;
}
/* line 129, ../scss/breakpoints/_base.scss */
.info.groceryspecialtyfoods {
  border-color: #96C5EA;
}
/* line 132, ../scss/breakpoints/_base.scss */
.info.restaurantsbars {
  border-color: #B7B3D7;
}
/* line 135, ../scss/breakpoints/_base.scss */
.info.beautypersonalcarepets {
  border-color: #BE8EBE;
}
/* line 138, ../scss/breakpoints/_base.scss */
.info.artsentertainment {
  border-color: #AFA39D;
}
/* line 141, ../scss/breakpoints/_base.scss */
.info.mediamarketing {
  border-color: #F9DCDC;
}
/* line 144, ../scss/breakpoints/_base.scss */
.info.realestate {
  border-color: #EBEAE5;
}
/* line 147, ../scss/breakpoints/_base.scss */
.info.beautypersonalcare {
  border-color: #6FB083;
}
/* line 150, ../scss/breakpoints/_base.scss */
.info.familychildservices {
  border-color: #1E98C0;
}
/* line 153, ../scss/breakpoints/_base.scss */
.info.petservices {
  border-color: #E2DFFB;
}
/* line 156, ../scss/breakpoints/_base.scss */
.info.technologyservices {
  border-color: #BE8EBE;
}

/* line 160, ../scss/breakpoints/_base.scss */
.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: -7.5px;
  border-radius: 50%;
  font-size: .6em;
  text-align: center;
  border: 1px solid #000;
}
/* line 169, ../scss/breakpoints/_base.scss */
.circle.hiddenaddress {
  width: 10px;
  height: 10px;
  margin: -5px;
}
/* line 174, ../scss/breakpoints/_base.scss */
.circle.apparelaccessories {
  background-color: #F2A1B3;
}
/* line 177, ../scss/breakpoints/_base.scss */
.circle.househome {
  background-color: #F0BF9F;
}
/* line 180, ../scss/breakpoints/_base.scss */
.circle.healthwellnessfitness {
  background-color: #F4E7A0;
}
/* line 183, ../scss/breakpoints/_base.scss */
.circle.businessfinancialservices {
  background-color: #98D2C4;
}
/* line 186, ../scss/breakpoints/_base.scss */
.circle.groceryspecialtyfoods {
  background-color: #96C5EA;
}
/* line 189, ../scss/breakpoints/_base.scss */
.circle.restaurantsbars {
  background-color: #B7B3D7;
}
/* line 192, ../scss/breakpoints/_base.scss */
.circle.beautypersonalcarepets {
  background-color: #BE8EBE;
}
/* line 195, ../scss/breakpoints/_base.scss */
.circle.artsentertainment {
  background-color: #AFA39D;
}
/* line 198, ../scss/breakpoints/_base.scss */
.circle.mediamarketing {
  background-color: #F9DCDC;
}
/* line 201, ../scss/breakpoints/_base.scss */
.circle.realestate {
  background-color: #EBEAE5;
}
/* line 204, ../scss/breakpoints/_base.scss */
.circle.beautypersonalcare {
  background-color: #6FB083;
}
/* line 207, ../scss/breakpoints/_base.scss */
.circle.familychildservices {
  background-color: #1E98C0;
}
/* line 210, ../scss/breakpoints/_base.scss */
.circle.petservices {
  background-color: #E2DFFB;
}
/* line 213, ../scss/breakpoints/_base.scss */
.circle.technologyservices {
  background-color: #BE8EBE;
}

/* line 217, ../scss/breakpoints/_base.scss */
#map {
  background-image: url("../images/map-dots.png");
}
/* line 219, ../scss/breakpoints/_base.scss */
#map .circle {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 222, ../scss/breakpoints/_base.scss */
#map .circle:hover {
  width: 20px;
  height: 20px;
  margin: -10px;
}

/* line 230, ../scss/breakpoints/_base.scss */
#legend {
  display: none;
}

/* line 234, ../scss/breakpoints/_base.scss */
#fullIndex {
  position: relative;
  margin: 50px 0;
}
/* line 237, ../scss/breakpoints/_base.scss */
#fullIndex h1 {
  padding-left: 20px;
}
/* line 240, ../scss/breakpoints/_base.scss */
#fullIndex .info, #fullIndex .info.right, #fullIndex .info.top {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-top-width: 5px;
  border-bottom: 0;
  margin-top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 249, ../scss/breakpoints/_base.scss */
#fullIndex .info .info-wrap, #fullIndex .info.right .info-wrap, #fullIndex .info.top .info-wrap {
  width: 100%;
  padding: 20px;
  max-height: none;
}
/* line 254, ../scss/breakpoints/_base.scss */
#fullIndex .info .arrow, #fullIndex .info .arrow-top, #fullIndex .info.right .arrow, #fullIndex .info.right .arrow-top, #fullIndex .info.top .arrow, #fullIndex .info.top .arrow-top {
  display: none;
}
/* line 258, ../scss/breakpoints/_base.scss */
#fullIndex #select {
  text-align: center;
  width: 100%;
  background: #fff;
  padding: 10px;
}
/* line 263, ../scss/breakpoints/_base.scss */
#fullIndex #select.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
}
/* line 269, ../scss/breakpoints/_base.scss */
#fullIndex #catselect {
  width: 90%;
  border: 0;
  border-radius: 0;
  background: antiquewhite;
  margin: 0 5%;
  position: relative;
}

/* line 279, ../scss/breakpoints/_base.scss */
.grid {
  width: 10%;
  height: 10%;
  float: left;
  border: 1px solid red;
}

/* line 286, ../scss/breakpoints/_base.scss */
#coordinates {
  height: 100%;
  overflow: scroll;
}

/* line 291, ../scss/breakpoints/_base.scss */
#form_submit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* line 299, ../scss/breakpoints/_base.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 307, ../scss/breakpoints/_base.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 309, ../scss/breakpoints/_base.scss */
* html .clearfix {
  height: 1%;
}

/* line 310, ../scss/breakpoints/_base.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /* line 16, ../scss/breakpoints/_768up.scss */
  #social {
    margin: 1em 0;
  }
  /* line 18, ../scss/breakpoints/_768up.scss */
  #social .social {
    margin: 0 .5em;
    font-size: 1em;
    width: 2em;
    height: 2em;
    line-height: 1em;
    padding: .5em;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.
  
  ******************************************************************/
  /* line 20, ../scss/breakpoints/_1030up.scss */
  #map {
    background-image: url("../images/map-021417.png");
  }
  /* line 22, ../scss/breakpoints/_1030up.scss */
  #map .circle {
    display: block;
  }
  /* line 25, ../scss/breakpoints/_1030up.scss */
  #map #clickstop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    opacity: .3;
    display: none;
  }

  /* line 36, ../scss/breakpoints/_1030up.scss */
  .edit #map {
    position: fixed;
  }

  /* line 40, ../scss/breakpoints/_1030up.scss */
  .info {
    width: 300px;
  }
  /* line 42, ../scss/breakpoints/_1030up.scss */
  .info.active {
    display: block;
  }
  /* line 44, ../scss/breakpoints/_1030up.scss */
  .info.active .info-wrap {
    max-height: 500px;
  }
  /* line 48, ../scss/breakpoints/_1030up.scss */
  .info .info-wrap {
    width: 300px;
    background-color: #fff;
    padding: 10px 20px 20px;
    overflow: hidden;
    max-height: 60px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  /* line 56, ../scss/breakpoints/_1030up.scss */
  .info .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #fff transparent transparent transparent;
  }
  /* line 63, ../scss/breakpoints/_1030up.scss */
  .info .arrow-top {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent transparent #fff transparent;
  }
  /* line 71, ../scss/breakpoints/_1030up.scss */
  .info.right {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  /* line 74, ../scss/breakpoints/_1030up.scss */
  .info.right.top .arrow-top {
    border-width: 0 0 30px 30px;
    float: right;
  }
  /* line 79, ../scss/breakpoints/_1030up.scss */
  .info.right .arrow {
    float: right;
    border-width: 30px 0 0 30px;
  }
  /* line 84, ../scss/breakpoints/_1030up.scss */
  .info.top {
    border-top-width: 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: 0;
    margin-top: 15px;
  }
  /* line 90, ../scss/breakpoints/_1030up.scss */
  .info.top .arrow {
    display: none;
  }
  /* line 93, ../scss/breakpoints/_1030up.scss */
  .info.top .arrow-top {
    display: block;
  }

  /* line 98, ../scss/breakpoints/_1030up.scss */
  #social {
    margin: 100px 0;
  }

  /* line 101, ../scss/breakpoints/_1030up.scss */
  #legend {
    display: block;
  }
  /* line 103, ../scss/breakpoints/_1030up.scss */
  #legend ul {
    column-count: 3;
  }
  /* line 106, ../scss/breakpoints/_1030up.scss */
  #legend .circle {
    position: relative;
    margin: 0;
    display: inline-block;
  }

  /* line 113, ../scss/breakpoints/_1030up.scss */
  #fullIndex {
    margin: 100px 0;
  }
  /* line 115, ../scss/breakpoints/_1030up.scss */
  #fullIndex .info, #fullIndex .info.right, #fullIndex .info.top {
    width: 33.33%;
  }
  /* line 118, ../scss/breakpoints/_1030up.scss */
  #fullIndex #select {
    position: absolute;
    width: auto;
    margin: 0;
    top: 0;
    right: 0;
  }
  /* line 125, ../scss/breakpoints/_1030up.scss */
  #fullIndex h2 {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  /* line 128, ../scss/breakpoints/_1030up.scss */
  #fullIndex h2:hover {
    color: #3272a3;
  }
}

/*# sourceMappingURL=style.css.map */
