/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



//SIZES
$infowidth: 300px;




#map{
    background-image: url('../images/map-021417.png');
    .circle{
        display: block;
    }
    #clickstop{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        opacity: .3;
        display: none;
    }
}

.edit #map{
    position: fixed;
}

.info{
    width: $infowidth;
    &.active{
        display: block;
        .info-wrap{
            max-height: 500px;
        }
    }
    .info-wrap{
        width: $infowidth;
        background-color: $white;
        padding: 10px 20px 20px;
        overflow: hidden;
        max-height: 60px;
        @include transition(max-height .5s);
    }
    .arrow{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: #fff transparent transparent transparent;   
    }
    .arrow-top{
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent transparent #fff transparent;   
    }
    &.right{
        @include transform(translateX(-100%));
        &.top{
            .arrow-top{
                border-width: 0 0 30px 30px;
                float: right;
            }
        }
        .arrow{
            float: right;
            border-width: 30px 0 0 30px; 
        }
    }
    &.top{
        border-top-width: 0;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        margin-bottom: 0;
        margin-top: 15px;
        .arrow{
            display: none;
        }
        .arrow-top{
            display: block;
        }
    }
}
#social{
    margin: 100px 0;
}
#legend{
    display: block;
    ul{
        column-count: 3;
    }
    .circle{
        position: relative;
        margin: 0;
        display: inline-block;
    }
}

#fullIndex{
    margin: 100px 0;
    .info, .info.right, .info.top{
        width: 33.33%;
    }
     #select{
        position: absolute;
        width: auto;
        margin: 0;
        top: 0;
        right: 0;
    }
    h2{
        cursor: pointer;
        @include transition(.5s);
        &:hover{
            color: $linkcolor;
        }
    }
}