/******************************************************************
Site Name: Rockaway Businesses
Author: 13Milliseconds

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/



body, html{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h2{
    margin-top: 0;
    line-height: 1em;
    font-weight: 700;
    font-size: 1.2em;
    height: 2em;
    display: table-cell;
    vertical-align: middle;
}
h3{
    margin-bottom: 0;
    font-size: 1em;
}
p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: $linkcolor;
}

.col-3of4{
    width: 75%;
    float: left;
    min-height: 1px;
}
.col-1of4{
    width: 25%;
    float: left;
    padding: 20px;
    min-height: 1px;
}
.col-2of3{
    width: 66.66%;
    float: left;
    min-height: 1px;
}
.col-1of3{
    width: 33.33%;
    float: left;
    padding: 20px;
    min-height: 1px;
}
#social{
    text-align: center;
    margin: 1em 0;
    .social{
        display: inline-block;
        margin: 0 .25em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1em;
        border-radius: 50%;
        padding: .25em;
        color: $white;
        text-align: center;
        cursor: pointer;
        @include transition(.3s);
        &:hover{
            opacity: .8;
        }
        &.website{
            background-color: midnightblue;
        }
        &.facebook{
            background-color: #3B5998;
        }
        &.twitter{
            background-color: #4099FF;
        }
    }
}
#main{
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 50px;
}
#map{
    width: 100%;
    height: 500px;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    .circle{
        display: none;
    }
}
.info{
    position: absolute;
    margin-bottom: 15px;
    display: none;
    z-index: 3;
    border-top: solid 5px;
    &.apparelaccessories{
        border-color: $apparelaccessories;
    }
    &.househome{
        border-color: $househome;
    }
    &.healthwellnessfitness{
        border-color: $healthwellnessfitness;
    }
    &.businessfinancialservices{
        border-color: $businessfinancialservices;
    }
    &.groceryspecialtyfoods{
        border-color: $groceryspecialtyfoods;
    }
    &.restaurantsbars{
        border-color: $restaurantsbars;
    }
    &.beautypersonalcarepets{
        border-color: $beautypersonalcarepets;
    }
    &.artsentertainment{
        border-color: $artsentertainment;
    }
    &.mediamarketing{
        border-color: $mediamarketing;
    }
    &.realestate{
        border-color: $realestate;
    }
    &.beautypersonalcare{
        border-color: $beautypersonalcare;
    }
    &.familychildservices{
        border-color: $familychildservices;
    }
    &.petservices{
        border-color: $petservices;
    }
    &.technologyservices{
        border-color: $technologyservices;
    }
}
.circle{
    position: absolute;
    width: 15px;
    height: 15px;
    margin: -7.5px;
    border-radius: 50%;
    font-size: .6em;
    text-align: center;
    border: 1px solid #000;
    &.hiddenaddress {
        width: 10px;
        height: 10px;
        margin: -5px;
    }
    &.apparelaccessories{
        background-color: $apparelaccessories;
    }
    &.househome{
        background-color: $househome;
    }
    &.healthwellnessfitness{
        background-color: $healthwellnessfitness;
    }
    &.businessfinancialservices{
        background-color: $businessfinancialservices;
    }
    &.groceryspecialtyfoods{
        background-color: $groceryspecialtyfoods;
    }
    &.restaurantsbars{
        background-color: $restaurantsbars;
    }
    &.beautypersonalcarepets{
        background-color: $beautypersonalcarepets;
    }
    &.artsentertainment{
        background-color: $artsentertainment;
    }
    &.mediamarketing{
        background-color: $mediamarketing;
    }
    &.realestate{
        background-color: $realestate;
    }
    &.beautypersonalcare{
        background-color: $beautypersonalcare;
    }
    &.familychildservices{
        background-color: $familychildservices;
    }
    &.petservices{
        background-color: $petservices;
    }
    &.technologyservices{
        background-color: $technologyservices;
    }
}
#map{
    background-image: url('../images/map-dots.png');
    .circle{
        cursor: pointer;
        @include transition(.3s);
        &:hover{
            width: 20px;
            height: 20px;
            margin: -10px;
        }
    }
}

#legend{
    display: none;
}

#fullIndex{
    position: relative;
    margin: 50px 0;
    h1{
        padding-left: 20px;
    }
    .info, .info.right, .info.top{
        width: 100%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        border-top-width: 5px;
        border-bottom: 0;
        margin-top: 0;
        @include transform();
        .info-wrap{
            width: 100%;
            padding: 20px;
            max-height: none;
        }
        .arrow, .arrow-top{
            display: none;
        }
    }
    #select{
        text-align: center;
        width: 100%;
        background: #fff;
        padding: 10px;
        &.fixed {
            position: fixed;
            top: 0;
            z-index: 9;
        }
    }
    #catselect{
        width: 90%;
        border: 0;
        border-radius: 0;
        background: antiquewhite;
        margin: 0 5%;
        position: relative;
    }
}

.grid{
    width: 10%;
    height: 10%;
    float: left;
    border: 1px solid red;
}

#coordinates{
    height: 100%;
    overflow: scroll;
}

#form_submit{
    position: fixed;
    bottom: 20px;
    right: 20px;
}


//CLEARFIX
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */